@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Caslon+Condensed:ital,wght@0,400..700;1,400..700&display=swap");

body {
  text-align: center;
  background-color: #000000;
  color: #ff0000;
}

.homepage-div {
  margin-top: 12%;
}

.universal-div {
  margin-top: 8%;
}

.main-head {
  font-family: "Libre Caslon Condensed", serif;
  font-size: 40px;
}

.main-btn {
  font-size: 20px;
  color: #bc0202;
  font-size: 40px;
  font-family: "Caveat", cursive;
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: underline #ff0000;
  text-underline-offset: 15px;
  color: #ff0000;
}

.input-field {
  height: 0.3in;
}

.basic-btn {
  height: 0.3in;
  border: none;
  border-radius: 5%;
}

.basic-btn:hover {
  background-color: #ff0000;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-links:hover {
  text-decoration: none;
  color: red;
  text-decoration: underline white;
  text-underline-offset: 4px;
}

.note-title {
  font-size: 30px;
  padding-left: 10%;
  color: white;
  width: 50%;
  height: 0.5in;
  border: none;
  background: none;
}

.note-text-area {
  border: none;
  font-size: 20px;
  color: white;
  height: 10in;
  width: 60%;
  background: none;
}

.save-btn {
  height: 0.3in;
  border: none;
  background-color: rgb(111, 111, 111);
  border-radius: 5%;
}

.save-btn:hover {
  background-color: rgb(208, 204, 204);
}

.boxes {
  color: black;
  margin-top: 7%;
  display: inline-block;
  height: 5in;
  width: 20%;
  background-color: white;
}
